@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {

    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    animation: 0.7s fadein;

}

:root {

    --background: #922C40;
    --text-color: #F3EAC0;
    --content-color: #DC9750;

}

body {

    background: var(--background);

}

.return {

    margin: 10px;
    border: 2px solid var(--content-color);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    color: white;
    font-size: 30px;
    background: transparent;
    transition: 0.3s ease-in-out;

}

.return:hover {

    color: black;
    background: var(--text-color);

}

.main {

    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

}

.main-title {

    font-size: 5rem;
    letter-spacing: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 2s steps(18),
        cursor .4s step-end infinite alternate;  
    font-size: 120px;
    color: var(--text-color);

}

.main-button {

    border: 5px solid var(--content-color);
    border-radius: 50px;
    width: 48%;
    height: 90px;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    background: transparent;
    transition: all 0.6s ease;

}

.button1 {

    margin-right: 5px;

}

.button2 {

    margin-left: 5px;

}

.main-button::before  {
  
    
    content: "";
    border-radius: 50px;
    top: 50%;
    left: 50%;
    width: 0%;
    height: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: -1; 
    background: var(--text-color);
    transition: all 0.6s ease;

}

.main-button:hover { 

    color: black;

}

.main-button:hover::before {

    width: 100%;

}


@keyframes fadein {

    0% {

        opacity: 0;

    }

    100% {

        opacity: 100%;

    }

}

@keyframes cursor {
  
    50% {

        border-color: transparent;
  
    }

}

@keyframes typing {
    
    from { width: 0 }

}

@media screen and (max-width: 800px) {

    .return {

        display: none;

    } 

    .main-title {

        font-size: 80px;

    }

    .main-button {

        height: 60px;
        font-size: 15px;

    }

    .main-button:hover { 

        color: var(--text-color);

    }

    .main-button:hover::before {

        width: 0%;

    }

}

@media screen and (max-width: 450px) {

    .main-title {

        font-size: 60px;

    }

    .main-button {

        height: 40px;
        font-size: 10px;
        width: 50%;

    }

    .all-buttons {

        display: flex;

    }

}

