main section:nth-child(2) {
    color: var(--impairs-section-color);
    display: flex;
    align-items: center;
    gap: 20px;
}

.presentation-card {
    margin-left: 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    width: 350px;
    background: black;
}

.logo {
    border: 2px solid white;
    border-radius: 50%;
}

.name {
    color: white;
    font-size: 50px;
}

.presentation-description {
    color: white;
}

.goals {
    margin-right: 20px;
    border: 3px solid black;
    border-radius: 15px;
    display: flex;
    gap: 10px;
    height: 600px;
    width: calc(100vw - 350px);
}

.about-me, .my-networks, .my-organisations{
    padding: 10px;
    width: calc(100% / 3);
    /* background-color: red; */
    position: relative;
}

.goals-header {
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    width: 100%;
    font-size: 3vh;
    color: white;
    background: black;
}

.goals-contents {
    font-size: 1.8vh;
    margin-top: 5px;
}

.goals-imgs {
    display: flex;
    position: absolute;
    bottom: 10px;
    gap: 10px;
}

.about-me-imgs {
    width: calc(50% - 10px);
}

.networks {
    gap: 10px;
    display: grid;
    grid-template-columns: auto auto;
}

.networks img {
    cursor: pointer;
    width: 100%;
}

@media screen and (max-height: 720px) {
    .presentation-card {
        margin-left: 0px;
        border-radius: 0px;
        height: 100%;
    }

    .goals {
        border: 0;
    }
}

@media screen and (max-width: 700px) {
    .presentation-card {
        width: 50%;
    }

    .logo {
        width: calc(80%);
    }

    .name {
        font-size: 7.2vw;
    }

    .presentation-description {
        font-size: 3vw;
    }
}