.scroll-top {
    border: 2px solid var(--standard-border-color);
    border-radius: 10px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    height: 45px;
    width: 45px;
    z-index: 1;
    cursor: pointer;
    background-color: var(--scrolltop-background);
    transform: scale(0);
    transition: all 0.3s ease;
}

.scroll-top::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--arrow-background);
}

.show {
    transform: scale(1);
}
